<!DOCTYPE html>
<html lang="en">
  <head>

   <!--- basic page needs                                                             
   ================================================== -->
   <meta charset="utf-8">
        <title>Jason Mohabir</title>
        <meta name="description" content="">
        <meta name="author" content="">

   <!-- favicons                                                                                                                                           
   ================================================== -->
   <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
   <link rel="icon" href="favicon.ico" type="image/x-icon">

	    
   <!-- CSS                                                                                                                                                   
   ================================================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/sticky-footer.css') }}" rel="stylesheet"/>

    

   <!-- script                                                                                                                                                
   ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/635ba7f240.js"></script>

</head>

<body>

   

     <!-- header                                                                                                                                           
   ================================================== -->
   <header>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="/"><button type="button" class="btn btn-outline-primary btn-lg">Home</button></a>
    </div>
  </div>
</div>

    <h1><center>Hello, world!</h1>

   </header> <!-- end header -->

   <br>


   <h2> <center>Jason Mohabir</center> </h2>

   <img src="../static/photo.jpg" class="rounded mx-auto d-block" alt="Photo shoot done in John Jay!" width="30%" height="30%">
 
<br>   
<div class="row">
  <div class="col-sm-6 mx-auto">
<div class="card">
  <div class="card-body">
    Hi! My name is Jason and I am a first-year in SEAS. I am currently planning on majoring in Computer Science
    and minoring in Statistics. I am applying to be a part of ADI Labs for the 2018 Spring semester. 
  </div>
</div>
</div>
</div>

<br>
<div class="row">
  <div class="col-7 mx-auto">
<div class="card">
  <img class="card-img-top" src="../static/fav_photo.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
      My <b> favorite picture </b> is this photograph of Bob Dylan and Allen Ginsberg at the grave of Jack Kerouac. 
      It is my laptop wallpaper and I consider them three of the most fascinating cultural icons of the 20<sup>th</sup> century.


</p>
  </div>
</div>
</div>
</div>

<br>

<div class="row">
  <div class="col-7 mx-auto">
<div class="card">
  <div class="card-body">
    My <b> favorite color </b> is <b style="color: #608341">Palm</b> (hex: #608341).
  </div>
</div>
</div>
</div>


<br>


        <!-- footer                                                                                                                                           
   ================================================== -->

    <footer class="footer">
      <div class="container">
	<center>
        <span class="text-muted">Made with <i class="fa fa-heart" aria-hidden="true" style="color:red"> </i>  by Jason Mohabir</span>


	| 

<a  href="https://github.com/JasonMohabir">
<img width="25" width="25" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg"></a>

<a href="https://linkedin.com/in/jasonm17">
<img width="25" width="25" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg"></a>

<a href="https://facebook.com/jason.mohabir17">
<img width="25" width="25" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/facebook.svg"></a>



	</center>
      </div>
    </footer>


  </body>

</html>


